# This code is to create a dataframe for the Peer Graded Assignment for the Applied Data Science Capstone course in Coursera for week 3

In [1]:
# import pandas to read table
import pandas as pd

In [2]:
tables=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [3]:
#check shape and head of the table
df=tables[0]
print(df.shape)
df.head()

(180, 3)

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [4]:
#check how many not assigned boroughs there are
(df['Borough']=='Not assigned').sum()

77

In [12]:
#remove not assigned boroughs and check new shape (should be 77 rows less than the orignal)

unassigned=df.loc[df['Borough']=='Not assigned']
df=df.drop(unassigned.index)
print(df.shape)
df.reset_index(drop=True)

(103, 3)

,Postal Code,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [6]:
# check for any unassigned neighbourhoods

(df['Neighbourhood']=='Not assigned').sum()

0

**Checking the number of rows for the final dataset**

In [7]:
df.shape

(103, 3)