# This code is to create a dataframe for the Peer Graded Assignment for the Applied Data Science Capstone course in Coursera for week 3

In [1]:
# import pandas to read table
import pandas as pd

In [2]:
tables=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [3]:
#check shape and head of the table
df=tables[0]
print(df.shape)
df.head()

(180, 3)

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [4]:
#check how many not assigned boroughs there are
(df['Borough']=='Not assigned').sum()

77

In [5]:
#remove not assigned boroughs and check new shape (should be 77 rows less than the orignal)

unassigned=df.loc[df['Borough']=='Not assigned']
df=df.drop(unassigned.index)
print(df.shape)
df=df.reset_index(drop=True)
df.head()

(103, 3)

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [6]:
# check for any unassigned neighbourhoods

(df['Neighbourhood']=='Not assigned').sum()

0

**Checking the number of rows for the final dataset**

In [7]:
df.shape

(103, 3)

## Add latitude and longitude coordinates to the dataframe

In [8]:
import geocoder
import time

In [9]:
start_time=time.time()
lat_lng=None
while lat_lng==None:
    g=geocoder.google('M3A')
    lat_lng = g.latlng
    if time.time()-start_time > 4:
        print('Geocoder is taking too long, use coordinates from csv provided instead')
        break

lat_lng

Geocoder is taking too long, use coordinates from csv provided instead

**Geocoder is failing so instead we will use the csv file provided**

In [10]:
coordinates=pd.read_csv('https://cocl.us/Geospatial_data')

In [11]:
print(coordinates.shape)
coordinates.head()

(103, 3)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

It seems the postal codes are in ascending order and the number of rows are the same as our dataframe. Lets sort our dataframe by postal code and see if the two dataframes' postal code are in the same order.

In [12]:
df=df.sort_values(by='Postal Code', ignore_index=True)
(df['Postal Code']==coordinates['Postal Code']).value_counts()

True    103
Name: Postal Code, dtype: int64

All values are True, this means we can just append the coordinates table to our dataframe.

In [13]:
df['Lattitude']=coordinates['Latitude']
df['Longitude']=coordinates['Longitude']

In [14]:
df

,Postal Code,Borough,Neighbourhood,Lattitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054